@import './common/var.scss';

.lj-radio {
  margin-right: px2rem(28px);
  position: relative;
  font-size: $font-size-large;
  height: px2rem(22px);
  line-height: px2rem(22px);
  padding-left: px2rem(28px);
}

.lj-radio-input {
  position: absolute;
  display: inline-block;
  width: px2rem(22px);
  height: px2rem(22px);
  top: 0;
  left: 0;
  background: url(/ljcomponent/images/icon_check_normal@3x.png) no-repeat;
  background-size: px2rem(22px) px2rem(22px);
  &.is-checked {
    background: url(/ljcomponent/images/icon_check_selected@3x.png) no-repeat;
    background-size: px2rem(22px) px2rem(22px);
  }
  &.is-circle {
    background: url(/ljcomponent/images/icon_radio_normal@3x.png) no-repeat;
    background-size: px2rem(22px) px2rem(22px);
    &.is-checked {
      background: url(/ljcomponent/images/icon_radio_select@3x.png) no-repeat;
      background-size: px2rem(22px) px2rem(22px);
    }
  }
}

.lj-radio-origin {
  position: absolute;
  top: 0;
  left: 0;
  width: px2rem(22px);
  height: px2rem(22px);
  opacity: 0;
  z-index: -1;
}